
#builder-generator > .row,
#builder-generator > .row > #form-fields {
    display: block;
    width: 100%;
    max-width: 100%;
}

.collectionFiles TBODY {
    display: table-caption;
    height: 256px;
    overflow: auto;
}